[submodule "externals/TiCPP"]
	path = externals/TiCPP
	url = https://github.com/ghorwin/SIM-VICUS/externals/TiCPP
[submodule "externals/IBK"]
	path = externals/IBK
	url = https://github.com/ghorwin/SIM-VICUS/externals/IBK
[submodule "externals/IBKMK"]
	path = externals/IBKMK
	url = https://github.com/ghorwin/SIM-VICUS/externals/IBKMK
[submodule "externals/QtExt"]
	path = externals/QtExt
	url = https://github.com/ghorwin/SIM-VICUS/externals/QtExt
