# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pro.user

# Misc
Makefile.*
*.idx
ui_*.h
moc_*.h
moc_*.cpp
.qmake.stash
Makefile
lib_x64

# SIM-VICUS
/SIM-VICUS/*
/SIM-VICUS/!externals/

/IFC2BESTest/projects/Qt/debug_x64/
/IFC2BESTest/projects/Qt/moc/
/IFC2BESTest/projects/Qt/ui/
/bin/debug_x64/SimQuality.vicus
/bin/release_x64/IFC2BESTest
/IFC2BESTest/projects/Qt/release_x64/
/bin/release_x64/IfcDebug
/data/Krankenhaus_withSB.vicus
/data/Krankenhaus_woSB.vicus
/data/NewProject 20.vicus
/data/SimQuality_Analyse
/data/SimVicus.vicus
/data/SimVicus_2.vicus
/externals/IFCConvert/src/IFCC_GeometricHelperClasses_kopie.cpp
/externals/IFCConvert/src/IFCC_GeometricHelperClasses_kopie.h
/externals/GEGExportPlugin/data/.~lock.liNear-Importdatei-Beispiel.ods\#
/externals/GEGExportPlugin/data/liNear-Importdatei-Beispiel.ods
/data/AZA 20.vicus~
/externals/GEGExportPlugin/data/.~lock.Beispiel-BtImport.csv\#
/externals/GEGExportPlugin/data/.~lock.Beispiel-BtImport.ods\#
/bin/release_x64/libImportIFCPlugin.zip
/data/Raumbuch Spaces.vicus
*.csv
/externals/GEGExportPlugin/projects/Qt/debug_x64/
/externals/IFCImportPlugin/projects/Qt/debug_x64/
/externals/IFCConvert/projects/lib/
/externals/ifcplusplus/projects/lib/
