/231110AC11-FZK-Haus-IFC - Kopie.vicus
/231110AC11-FZK-Haus-IFC.vicus
/231110AC11-FZK-Haus-IFC2.vicus
/231110AC11-FZK-Haus-IFC_v2.ifc
/AC20-FZK-Haus.vicus
/AC20-FZK-Haus_2.vicus
/Test_1.vicus
/210906_EZP_org.ifc
/210906_EZP_small1.ifc
/210917_Rathaus Laatzen_Modell_Allgemeiner Übersetzer_org.ifc
/210917_Rathaus Laatzen_Modell_Allgemeiner Übersetzer_small1.ifc
/AC20-FZK-Haus_OhneDach.ifc
/Adorf_test_1.vicus
/Adorf_test_2.vicus
/Bauwerksmodell.ifc
/Bauwerksmodell_SB_1.vicus
/Bauwerksmodell-1-TR_220206 SpaceBoundaries.xlsx
/Bauwerksmodell-1-TR_220206.ifc
/Bauwerksmodell_SB_2.vicus
/~$Bauwerksmodell-1-TR_220206 SpaceBoundaries.xlsx
*.ifc
